/* @font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova-light-webfont.woff');
} */



* {
  box-sizing: border-box;
}

.mobile {

  display: none;
  @media (max-width: 990px) {
    display: block;
  }
}

.body {
  box-sizing: border-box;
  height: 95vh;
  width: 100vw;
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2em 2em 0;
}

.main {
  display: flex;
  flex: 3 3 100px;
}

.left {
  /* background-color: aqua; */
  padding: 3em 3em 0;
  flex: 1 1 100px; /* Définit le "left" avec un flex-grow de 1, flex-shrink de 1 et une base de 100px */
}

main {
  flex: 10 10 100px;
  word-wrap: break-word;
  color: black;
  overflow-x: auto;
  overflow-y: hidden;
}

.right {
  /* background-color: aqua; */
  padding: 3em 3em 0;
  flex: 1 1 100px; /* Définit le "right" avec un flex-grow de 1, flex-shrink de 1 et une base de 10px */
}

footer {
  background-color: #333;
  padding: 0.5em 0 0.2em 0;
}

@media (max-width: 1075px) {
  .left {
    padding: 1em 1em 0;
  }
}
@media (max-width: 990px) {
  .body {
    flex-direction: column; /* Change flex-direction to column for smaller screens */
  }

  .main {
    /* Remove the flex properties for main */
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .left {
    display: none; /* Hide the left part for smaller screens */
  }

  .right {
    display: none;
  }
}
.slide-in-from-right {
  transform: translateX(100%);
  animation: slideRight 0.5s ease forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}